*.resharper
*.ReSharper.user
_ReSharper.*/
*.TeamCity.user
*.Publish.xml
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
*TestResults/
*.testsettings
*/Plugins/
*.suo
*.sln.cache
*csproj.user
*ds_store
*.vspscc
*.cache
*~
*.swp
_[Ss]vn
.[Ss]vn
*Thumbs.db
Path
*.gpState
*.csproj.vs10x
*.zip
*.generated.cs*.zipx
._*
*.log
Publish
/WebApp/koos.xml
*~1.*
*.gpState
*.Moles.dll
*.vsmdi
*.vsmdi
*.sdf
telepreneur/WebApp/Plugins/
telepreneur-voxzal/voxzal.mvcweb/Plugins/
telepreneur-mvcmefplugins/SampleWebApp/Plugins/
*.docstates
*@.xml
packages